image: openjdk:8

stages:
  - build
  - test

before_script:
  - apt-get update -y
  - apt-get install -y ant

build:
  stage: build
  script:
    - echo "Compilando proyecto con Ant..."
    - ant clean
    - ant compile
  artifacts:
    paths:
      - build/

test:
  stage: test
  script:
    - echo "Ejecutando pruebas JUnit..."
    - ant test
  dependencies:
    - build
