image: eclipse-temurin:8-jdk

stages:
  - build
  - package

before_script:
  - apt-get update
  - apt-get install -y ant

build:
  stage: build
  script:
    - echo "Limpiando proyecto..."
    - ant clean
    - echo "Compilando proyecto..."
    - ant compile
  artifacts:
    paths:
      - build/
    expire_in: 1 week

package:
  stage: package
  script:
    - echo "Generando artefacto (JAR o WAR)..."
    - ant jar || ant war
  artifacts:
    paths:
      - dist/
    expire_in: 1 week

